.register {
	padding-top: 60px;
	&__errors {
		border-radius: 20px;
		background: $primary-color-light;
		color: $primary-color;
		font: normal normal 500 16px/28px 'Barlow';
		padding: 20px 40px;
	}
	&__title {
		text-align: center;
		font: normal normal 700 44px/53px 'Barlow Condensed';
		letter-spacing: 0px;
		margin-bottom: 70px;
	}
	&__subtitle {
		text-align: center;
		font: normal normal 500 16px/28px 'Barlow Condensed';
		letter-spacing: 0px;
		color: #2E141480;
		margin-bottom: 35px;
	}
	&__lowtitle {
		text-align: left;
		font: normal normal 700 22px/28px 'Barlow Condensed';
		letter-spacing: 0px;
		margin-bottom: 5px;
		margin-top: 95px;
		&--btn {
			cursor: pointer;
			text-align: center;
			transition: $transition-base;
			&:hover {
				color: $primary-color;
			}
		}
	}
	&__form {
		&__radio-group {
			height: 65px;
			margin-top: 5px;
			margin-bottom: 5px;
			padding-top: 27px;
			input[type='radio'] {
				margin-top: -2px;
			}
		}
	}
	&__address {
		margin-top: 95px;
		margin-bottom: 30px;
		background: $light-grey-transparent 0% 0% no-repeat padding-box;
		padding: 36px 135px;
		&__title {
			text-align: center;
			font: normal normal 700 22px/28px 'Barlow Condensed';
			letter-spacing: 0px;
			margin-bottom: 50px;
		}
		&__address-name {
			background: #D41C1B 0% 0% no-repeat padding-box;
			border-radius: 8px;
			margin-bottom: 10px;
			padding: 15px 50px;
			label {
				color: $white;
				z-index: 0;
			}
			input {
				color: $white;
			}
		}
	}
	&__info {
		margin-top: 35px;
		margin-bottom: 35px;
	}
	&__options {
		text-align: left;
		font: normal normal 500 16px/36px 'Barlow';
		letter-spacing: 0px;
	}
	&__validate {
		margin-top: 80px;
		text-align: center;
		input[type="submit"] {
			padding: 10px 30px;
			height: auto;
			margin-bottom: 30px;
		}
		a {
			margin: auto;
			font: normal normal 500 18px/22px 'Barlow Condensed';
			letter-spacing: 0px;
		}
	}
}

.login {
	padding-top: 60px;
	margin-bottom: 80px;
	&__title {
		text-align: center;
		font: normal normal 700 44px/53px 'Barlow Condensed';
		letter-spacing: 0px;
		margin-bottom: 40px;
	}
	&__subtitle {
		text-align: center;
		font: normal normal 500 16px/28px 'Barlow Condensed';
		letter-spacing: 0px;
		color: #2E141480;
		margin-bottom: 35px;
	}
	&__info {
		margin-top: 25px;
		margin-bottom: 15px;
	}
	&__options {
		margin-top: 15px;
		text-align: left;
		font: normal normal 500 16px/36px 'Barlow';
		letter-spacing: 0px;
	}
	&__validate {
		margin-top: 40px;
		text-align: center;
		input[type="submit"] {
			padding: 10px 30px;
			height: auto;
			margin-bottom: 30px;
		}
		a {
			margin: auto;
			font: normal normal 500 18px/22px 'Barlow Condensed';
			letter-spacing: 0px;
		}
		&__question {
			background: $primary-color-light 0% 0% no-repeat padding-box;
			border-radius: 8px;
			text-align: center;
			font: normal normal 500 16px/28px 'Barlow';
			letter-spacing: 0px;
			margin-top: 20px;
			margin-bottom: 15px;
			padding: 15px 20px;
		}
	}
}