.welcome-presentation {
	// min-height: max(800px, 80vh);
	// margin-bottom: 80px;
	width: 100%;
	position: relative;
	height: calc(100vh - 320px);
	min-height: 530px;
	@include large {
		height: calc(100vh - 345px);
		min-height: 550px;
	}
	@include tablet {
		height: fit-content;
		padding-bottom: 40px;
	}
	@include mobile {
		height: fit-content;
		padding-bottom: 40px;
	}
	// height: min(calc(100vh - 250px), 800px);
	&__desc {
		padding-top: 109px;
		position: relative;
		z-index: 2;
		top: 0;
		left: 0;
		width: 50%;
		@include tablet {
			width: 100%;
		}
		@include mobile {
			width: 100%;
		}
		&__bar {
			padding: 10px 5px;
			margin-bottom: 50px;
			background: $primary-color-light 0% 0% no-repeat padding-box;
			border-radius: 8px;
			width: fit-content;
			&__btn {
				margin-left: 5px;
				margin-right: 5px;
				display: block;
				text-align: center;
				padding: 6px 12px;
				font: normal normal 500 18px/22px 'Barlow Condensed';
				letter-spacing: 0.36px;
				color: $dark-text;
				border-radius: 8px;
				background: $primary-color-light 0% 0% no-repeat padding-box;
				transition: $transition-base;
				&:hover {
					color: $white;
					background: $primary-color 0% 0% no-repeat padding-box;
				}
				&.--active {
					color: $white;
					background: $primary-color 0% 0% no-repeat padding-box;
				}
			}
		}
		&__title {
			text-align: left;
			font: normal normal bold 44px/53px 'Barlow Condensed';
			letter-spacing: 0px;
			color: $dark-text;
			margin-bottom: 55px;
			@include tablet {
				font: normal normal 700 28px/34px 'Barlow Condensed';
				margin-bottom: 25px;
			}
			@include mobile {
				font: normal normal 700 28px/34px 'Barlow Condensed';
				margin-bottom: 25px;
			}
		}
		&__text {
			width: 100%;
			text-align: left;
			font: normal normal 500 17px/31px 'Barlow';
			letter-spacing: 0px;
			color: #2E1739;
			margin-bottom: 20px;
			@include tablet {
				width: 100%;
				font: normal normal 500 16px/28px 'Barlow';
			}
			@include mobile {
				width: 100%;
				font: normal normal 500 16px/28px 'Barlow';
			}
		}
		&__link {
			text-align: left;
			font: normal normal 800 22px/33px 'Barlow';
			letter-spacing: 0px;
			color: $primary-color;
			transition: color 0.2s;
			&:hover {
				color: $dark-text;
			}
		}
		@include tablet {
			padding-top: 40px;
			padding-left: 10px;
			padding-right: 10px;
		}
		@include mobile {
			padding-top: 40px;
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	&__illustration {
		position: absolute;
		right: 0;
		top: 0;
		width: 44%;
		overflow: hidden;
		z-index: 1;
		// height: 80vh;
		//background: lightgrey;
		img {
			width: 100%;
		}
		@include tablet {
			position: relative;
			right: 0;
			width: 100%;
			max-height: 60vh;
			height: 250px;
			img, svg {
				height: 100%;
				margin: auto;
				object-fit: contain;
			}
		}
		@include mobile {
			position: relative;
			right: 0;
			width: 100%;
			max-height: 60vh;
			height: 250px;
			img, svg {
				height: 100%;
				margin: auto;
				object-fit: contain;
			}
		}
	}
}

.welcome-illustration-2, .welcome-illustration-3, .welcome-illustration-4, .welcome-illustration-5 {
	display: none;
}

.welcome-campaign {
	margin-top: 0px;
	margin-bottom: 67px;
	// min-height: 100vh;
	// height: min(100vh, 900px);
	&__left {
		width: 50%;
		margin-top: 50px;
		&__img-container {
			width: 65%;
			max-height: 432px;
			overflow: hidden;
			border-radius: 25px;
			margin: auto;
			margin-top: 100px;
			margin-bottom: 64px;
		}
		&__title-1 {
			text-align: left;
			font: normal normal 300 40px/48px 'Barlow Condensed';
			letter-spacing: 0.36px;
			color: $dark-text;
		}
		&__title-2 {
			text-align: left;
			font: normal normal 600 105px/126px 'Barlow Condensed';
			letter-spacing: 0px;
			color: $primary-color;
			margin-top: -25px;	
		}
		&__links {
			margin-bottom: 20%;
		}
	}
	&__right {
		width: 50%;
		border-radius: 25px;
		//max-height: 1072px;
		overflow: hidden;
		//padding-top: 40px;
		img {
			width: 100%;
			object-fit: cover;
			object-position: center center;
			height: 100%;
		}
	}
}

.welcome-creations {
	min-height: 100vh;
	padding: 79px 100px;
	&__list {
		&__link {
			width: 100%;
			margin-top: 41px;
			font: normal normal 600 22px/26px 'Barlow Condensed';
			letter-spacing: 0.44px;
			a {
				position: relative;
				display: block;
				width: fit-content;
				margin: auto;
				transition: $transition-base;
				height: 40px;
				margin-bottom: 60px;
				&::after {
					content: "";
					position: absolute;
					bottom: 0px;
					left: 0px;
					width: 20%;
					height: 5px;
					border-radius: 10px;
					background: $primary-color;
					transition: width 0.5s ease-in-out;
				}
				&:hover {
					color: $primary-color;
					&::after {
						width: 100%;
					}
				}
			}
		}
	}
	&__title {
		text-align: center;
		font: normal normal 700 44px/53px 'Barlow Condensed';
		letter-spacing: 0px;
		color: $dark-text;
		margin-bottom: 26px;
	}
	&__subtitle {
		text-align: center;
		font: normal normal 500 16px/28px 'Barlow';
		letter-spacing: 0px;
		color: $dark-text;
		width: 45%;
		margin: auto;
		margin-bottom: 50px;
	}
}

.welcome-others {
	padding-top: 100px;
	padding-bottom: 100px;
	h3 {
		margin-bottom: 5px;
		text-align: center;
		font: normal normal 700 44px/53px 'Barlow Condensed';
		letter-spacing: 0px;
		color: $dark-text;
	}
	p {
		text-align: center;
		font: normal normal 600 135px/135px 'Barlow Condensed';
		letter-spacing: 0px;
		color: $primary-color;
		padding: 20px;
		margin-bottom: 50px;
	}
	&__plus {
		height: 104px;
		width: 104px;
		border: 5px solid $dark-text;
		border-radius: 50%;
		position: relative;
		margin: auto;
		color: $primary-color-light;
		transition: $transition-base;
		&__symbol {
			position: absolute;
			width: 100%;
			left: 0;
			top: -18px;
			font-size: 5rem;
			text-align: center;
		}
		&:hover {
			background: $primary-color-light;
			color: $primary-color;
		}
	}
	&__svg-container {
		background: $white;
		border-radius: 8px;
		box-shadow: 0 10px 20px lightgrey;
		padding: 20px;
		height: 140px;
		overflow: hidden;
		svg {
			height: 80%;
			margin: auto;
		}
		h4 {
			text-align: center;
			font: normal normal 600 18px/18px 'Barlow Condensed';
			padding-top: 5px;
		}
	}
	&__block {
		padding-top: 20px;
		margin: 20px;
		height: 160px;
		transition: padding 0.3s;
		&:hover {
			padding-top: 0px;
		}
	}
}

.error-page {
	min-height: 80vh;
	h1 {
		font-family: 'Barlow Condensed'; 
		font-size: 3rem; 
		font-weight: 600; 
		margin-bottom: 20px;
	}
	h2 {
		font-family: 'Barlow Condensed'; 
		font-size: 1.6rem; 
		color: grey; 
		font-weight: 600; 
		margin-bottom: 20px;
	}
	svg {
		max-width: 50vw;
		margin: auto;
	}
}


.welcome-faq {
	min-height: 100px;
	background: $third-color;
	padding-top: 100px;
	padding-bottom: 130px;
	@include mobile {
		padding-bottom: 30px;
	}
	svg {
		position: absolute;
		// bottom: 0px;
	}
	&__container {
		width: 50%;
		margin: auto;
		min-width: 700px;
		@include mobile {
			width: 90%;
			min-width: 100px;
		}
	}
	&__title {
		text-align: center;
		font: normal normal 700 44px/53px 'Barlow Condensed';
		letter-spacing: 0px;
		margin-bottom: 60px;
		margin-bottom: 60px;
		@include tablet {
			padding-top: 100px;
		}
		@include mobile {
			text-align: center;
			font: normal normal 700 28px/34px 'Barlow Condensed';
			padding-top: 70px;
			margin-bottom: 40px;
		}
	}
	&__accordion {
		&__header {
			margin-bottom: 30px;
			background: $primary-color 0% 0% no-repeat padding-box;
			border-radius: 8px;
			color: $white;
			padding: 34px 50px;
			text-align: left;
			font: normal normal 700 28px/28px 'Barlow Condensed';
			letter-spacing: 0px;
			cursor: pointer;
			@include mobile {
				text-align: left;
				font: normal normal 700 18px/20px 'Barlow Condensed';
				letter-spacing: 0px;
				padding: 24px 30px 24px 20px;
			}
			p {
				margin-right: 15px;
				@include mobile {
					margin-right: 0;
				}
			}
			&__chevron {
				margin-top: 7px;
				transform: rotate(0deg);
				transition: $transition-base;
				@include mobile {

				}
				&--active {
					transform: rotate(180deg);
				}
			}
			// &:hover {
			// 	.faq__accordion__header__chevron {
			// 		transform: rotate(180deg);
			// 	}
			// }
		}
		&__answer {
			width: 75%;
			margin: auto;
			padding-top: 10px;
			@include mobile {
				width: 100%;
			}
			li {
				border-bottom: 1px solid $light-grey;
			}
			&__txt {
				text-align: left;
				font: normal normal 500 16px/28px 'Barlow';
				letter-spacing: 0px;
			}
			&__subanswer {
				padding-top: 20px;
				padding-bottom: 50px;
				text-align: left;
				font: normal normal 500 16px/28px 'Barlow';
				letter-spacing: 0px;
			}
			&__header {
				text-align: left;
				font: normal normal 700 22px/28px 'Barlow Condensed';
				letter-spacing: 0px;
				border-bottom: 2px solid transparent;
				margin-top: 25px;
				min-height: 40px;
				height: fit-content;
				cursor: pointer;
				padding-bottom: 10px;
				&--active {
					border-bottom: 2px solid $primary-color;
					color: $primary-color;
				}
				&__plus {
					font-size: 2.2rem;
					font-weight: 500;
				}
				&__minus {
					font-size: 3.1rem;
					font-weight: 500;
				}
			}
		}
	}
	&__sponsor {
		height: 102px;
		width: 100%;
		// border-top: $primary-color solid 2px;
		// border-bottom: $primary-color solid 2px;
		background: $primary-color;
		z-index: 5;
		color: $white;
		bottom: 0;
		@include tablet {
			position: relative;
			height: fit-content;
			bottom: -50px;
			padding-bottom: 40px;
		}
		@include mobile {
			position: relative;
			height: fit-content;
			bottom: -50px;
			padding-bottom: 40px;
		}
		p {
			color: $white;
			// font: normal normal 500 22px/28px 'Barlow';
			font: normal normal 500 18px/24px 'Barlow';
			text-align: center;
			@include tablet {
				padding-top: 25px;
				padding-bottom: 25px;
				font: normal normal 500 18px/28px 'Barlow';
			}
			@include mobile {
				padding-top: 25px;
				padding-bottom: 25px;
				font: normal normal 500 18px/28px 'Barlow';
			}
		}
		&__logo {
			background: $white;
			position: relative;
			z-index: 5;
			box-shadow: grey 0 0 10px;
			height: calc(100% + 60px);
			margin-top: -30px;
			padding: 20px;
			border-radius: 10px;
			@include tablet {
				max-width: 300px;
				margin: auto;
				margin-top: -40px;
			}
			@include mobile {
				max-width: 300px;
				margin: auto;
				margin-top: -40px;
			}
			img {
				margin-top: 4px;
			}
		}
	}
}


.welcome-reservation {
	position: relative;
	&__bg {
		position: absolute;
		width: 100%;
		top: 20px;
		z-index: 2;
		img {
			width: 100%;
		}
		svg {
			position: absolute;
			bottom: -60px;
		}
		@include mobile {
			top: -50px;
			width: 200%;
			margin-left: -50%;
			img {
				width: 100%;
			}
			svg {
				bottom: -10px;
			}
		}
	}
	&__bottom-bg {
		background: $third-color; 
		width: 100%; 
		position: absolute; 
		bottom: 0; 
		height: 60%;
		@include mobile {
			height: 90%;
		}
	}
	&__block {
		width: 50%;
		min-width: 700px;
		margin: auto;
		background: $primary-color;
		border-radius: 21px;
		padding: 45px 80px;
		position: relative;
		z-index: 3;
		@include tablet {
			width: 90%;
			top: 110px;
			padding: 40px 20px;
			min-width: 100px;
		}
		@include mobile {
			width: 90%;
			top: 110px;
			padding: 40px 20px;
			min-width: 100px;
		}
		&__title {
			text-align: center;
			color: $white;
			font: normal normal 700 32px/28px 'Barlow Condensed';
			margin-bottom: 30px;
			@include tablet {
				font: normal normal 700 28px/34px 'Barlow Condensed';
				letter-spacing: 0px;
			}
			@include mobile {
				font: normal normal 700 28px/34px 'Barlow Condensed';
				letter-spacing: 0px;
			}
		}
	}
	&__form {
		padding-bottom: 40px;
		@include mobile {
			padding-bottom: 0;
		}
		h4 {
			text-align: center;
			color: $white;
			font: normal normal 600 22px/28px 'Barlow Condensed';
			margin-bottom: 15px;
		}
		textarea {
			border: 2px solid $primary-color;
			&:focus {
				outline: none;
				border: 2px solid $secondary-color;
			}
			@include tablet {
				// margin-top: 15px; 
				margin-bottom: 15px;
				height: 150px;
			}
			@include mobile {
				// margin-top: 15px; 
				margin-bottom: 15px;
				height: 150px;
			}
		}
		&__select {
			font: normal normal 500 14px/24px 'Barlow';
		}
		&__selector {
			margin-bottom: 12px;
			@include tablet {
				margin-bottom: 0px;
			}
			@include mobile {
				// margin-top: 15px; 
				margin-bottom: 0px;
			}
			select {
				border-radius: 4px;
				background: transparent;
				color: $white;
				width: 300px;
				border: none;
				text-align: left;
				font: normal normal 800 48px/28px 'Barlow Condensed';
				letter-spacing: 0px;
				height: 70px;
				padding-left: 5px;
				position: relative;
				left: -9px;
				cursor: pointer;
				&:focus {
					box-shadow: none;
					border: none;
				}
				option {
					background: $primary-color;
					color: $white;
				}
			}
		}
		&__seats-subtitle {
			text-align: left;
			font: normal normal 500 20px/34px 'Barlow Condensed';
			letter-spacing: 0px;
			color: #2E1414;
		}
		&__seats-number {
			text-align: left;
			font: normal normal 500 34px/50px 'Barlow Condensed';
			letter-spacing: 0px;
			color: $secondary-color;
			width: 45px;
			margin-top: -13px;
		}
		&__seats-btn {
			width: 30px;
			text-align: center;
			color: $primary-color;
			background: $primary-color-light;
			border-radius: 3px;
			margin-top: 2px;
			margin-bottom: 2px;
			height: 12px;
			position: relative;
			cursor: pointer;
			transition: all 0.2s;
			i {
				position: absolute;
				top: 2px;
				font-size: 0.5rem;
				width: 100%;
				text-align: center;
				left: 0;
			}
			&:hover {
				color: white;
				background: $secondary-color;
			}
		}
		&__labels {
			color: $white;
			bottom: 40px;
			transform: scale(0.8);
			transform-origin: left;
			z-index: 0;
			position: absolute;
			@include mobile {
				transform: scale(0.75);
				bottom: 35px;
			}
		}
		&__heavy {
			color: $white;
			text-align: left;
			font: normal normal 800 48px/28px 'Barlow Condensed';
			letter-spacing: 0px;
			@include mobile {
				// padding-bottom: 20px;
			}
		}
		&__guests {
			padding-top: 15px;
			@include tablet {
				max-width: 300px;
			}
			@include mobile {
				max-width: 300px;
			}
			&__btn {
				border: solid 2px $white;
				border-radius: 6px;
				padding: 2px 10px 8px 10px;
				margin-top: -3px;
				margin-left: 10px;
				font: normal normal 600 38px/28px 'Barlow';
				cursor: pointer;
				color: $white;
				transition: all 0.2s;
				background: transparent;
				&:hover {
					color: $primary-color;
					background: $white;
				}
			}
		}
		&__mandatory {
			color: $white;
			margin-bottom: 20px;
			text-align: left;
			font: normal normal 500 16px/36px 'Barlow';
			letter-spacing: 0px;
			@include mobile {
				font: normal normal 400 12px/28px 'Barlow';
			}
		}
	}
}


.welcome-transition-1 {
	width: 100%;
	min-height: 50vh;
	margin-bottom: 40px;
	&__transition {
		width: 100%;
		// max-height: 400px;
		overflow: hidden;
		img {
			width: 100%;
			object-fit: cover;
		}
		&--top {
			position: relative;
			margin-bottom: -80px;
			z-index: 2;
			@include mobile {
				width: 160%;
				margin-left: -30%;
			}
		}
		&--bottom {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			z-index: 2;
		}
	}
	&__content {
		background: $primary-color;
		color: $white;
		&__text {
			width: 38%;
			padding-top: 150px;
			padding-bottom: 150px;
			&--1 {
				text-align: left;
				font: normal normal 700 28px/33px 'Barlow';
				letter-spacing: 0px;
				margin-bottom: 40px;
				@include tablet {
					font: normal normal 700 24px/32px 'Barlow';
					letter-spacing: 0px;
				}
				@include mobile {
					font: normal normal 700 24px/32px 'Barlow';
					letter-spacing: 0px;
				}
			}
			&--2 {
				text-align: left;
				font: normal normal 500 18px/33px 'Barlow';
				letter-spacing: 0px;
				@include tablet {
					font: normal normal 500 18px/28px 'Barlow';
				}
				@include mobile {
					font: normal normal 500 18px/28px 'Barlow';
				}
			}
			@include tablet {
				width: 100%;
				padding-top: 130px;
				padding-left: 10px;
				padding-right: 10px;
				padding-bottom: 0px;
			}
			@include mobile {
				width: 100%;
				padding-top: 130px;
				padding-left: 10px;
				padding-right: 10px;
				padding-bottom: 0px;
			}
		}
		&__img {
			position: absolute;
			width: 50%;
			height: 100%;
			top: 0;
			right: 0;
			overflow: hidden;
			opacity: 0.5;
			@include tablet {
				position: relative;
				width: 110%;
				max-height: max(300px, 50vh);
				bottom: 0;
				right: 0;
				padding-top: 0px;
				margin-top: -20px;
				padding-bottom: 30px;
				opacity: 0.4;
				margin-left: 5%;
			}
			@include mobile {
				position: relative;
				width: 100%;
				max-height: max(300px, 50vh);
				bottom: 0;
				right: 0;
				padding-top: 0px;
				margin-top: -20px;
				padding-bottom: 30px;
				opacity: 0.4;
				width: 140%;
				margin-left: -20%;
			}
			img {
				min-height: min(600px, 100%);
				width: 100%;
				max-height: 600px;
				object-fit: fill;
				@include tablet {
					height: 100%;
				}
				@include mobile {
					height: 100%;
				}
			}
		}
	}
}


.welcome-content-1 {
	padding-top: 70px;
	padding-bottom: 50px;
	@include mobile {
		padding-top: 40px;
	}
	h3 {
		text-align: center;
		font: normal normal 700 44px/53px 'Barlow Condensed';
		letter-spacing: 0px;
		margin-bottom: 90px;
		@include mobile {
			font: normal normal 700 28px/34px 'Barlow Condensed';
			margin-bottom: 50px;
		}
	}
	h2 {
		text-align: center;
		font: normal normal 600 135px/90px 'Barlow Condensed';
		letter-spacing: 0px;
		color: $primary-color;
		margin-bottom: 70px;
		@include mobile {
			font: normal normal 600 84px/90px 'Barlow Condensed';
			margin-bottom: 50px;
		}
	}
	&__initials {
		color: $secondary-color;
		margin-bottom: 100px;
		&__container {
			padding-top: 28px;
			padding-bottom: 28px;
			text-align: center;
			width: calc(25% - 1px);
			min-width: 220px;
			@include mobile {
				width: 300px;
				margin: auto;
			}
			&__separator {
				width: 50%;
				margin-left: 25%;
				height: 1px;
				background: $secondary-color;
				margin-top: 20px;
				margin-bottom: 20px;
			}
			&__main {
				font: normal normal 600 48px/60px 'Barlow Condensed';
				letter-spacing: 0px;
			}
			&__sub {
				font: italic normal 300 28px/60px 'Barlow Condensed';
				letter-spacing: 0px;
			}
			&--border {
				border-right: solid 1px lightgrey;
				@include mobile {
					border-right: none;
					// border-bottom: solid $secondary-color 1px;
				}
			}
		}
	}
	&__info {
		text-align: center;
		font: normal normal 700 28px/33px 'Barlow Condensed';
		letter-spacing: 0px;
		color: $primary-color;
		margin-bottom: 20px;
		@include mobile {
			font: normal normal 700 24px/33px 'Barlow Condensed';
		}
	}
}


.welcome-transition-2 {
	width: 100%;
	min-height: 50vh;
	margin-bottom: 40px;
	@include mobile {
		margin-bottom: 0;
	}
	&__transition {
		width: 100%;
		max-height: 400px;
		overflow: hidden;
		img {
			width: 100%;
			object-fit: cover;
		}
		&--top {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
			transform: rotate(180deg);
		}
		&--bottom {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			z-index: 2;
			// padding-bottom: 50px;
			// &::after {
			// 	content: "";
			// 	width: 100%;
			// 	background: $white;
			// 	height: 40px;
			// }
		}
	}
	&__content {
		background: $secondary-color;
		color: $white;
		&__text {
			width: 45%;
			padding-top: 120px;
			padding-bottom: 120px;
			margin-left: 50%;
			padding-left: 7%;
			text-align: right;
			&--1 {
				font: normal normal 700 28px/33px 'Barlow';
				letter-spacing: 0px;
				margin-bottom: 40px;
			}
			&--2 {
				font: normal normal 500 18px/33px 'Barlow';
				letter-spacing: 0px;
			}
			@include mobile {
				width: 100%;
				padding-top: 80px;
				padding-left: 10px;
				padding-right: 10px;
				padding-bottom: 290px;
				margin-left: 0;
				text-align: left;
				z-index: 0;
			}
		}
		&__img {
			position: absolute;
			width: 50%;
			height: 100%;
			top: 0;
			left: 0;
			overflow: hidden;
			opacity: 0.5;
			img {
				min-height: 100%;
				width: 100%;
				object-fit: fill;
				@include mobile {
					height: auto;
					width: 100%;
				}
			}
			@include mobile {
				position: absolute;
				max-height: max(300px, 50vh);
				top: auto;
				bottom: -5vh;
				right: 0;
				padding-top: 0px;
				margin-top: -20px;
				padding-bottom: 30px;
				opacity: 0.4;
				width: 100%;
				margin-left: 0%;
			}
		}
	}
}


.welcome-concept {
	padding-top: 50px;
	padding-bottom: 50px;
	@include mobile {
		background: $white;
	}
	h3 {
		color: $secondary-color;
		text-align: center;
		font: normal normal 700 28px/28px 'Barlow Condensed';
		letter-spacing: 0.28px;
		margin-bottom: 35px;
		@include mobile {
			font: normal normal 700 24px/33px 'Barlow Condensed';
		}
	}
	h2 {
		text-align: center;
		font: normal normal 700 44px/53px 'Barlow Condensed';
		letter-spacing: 0px;
		color: $primary-color;
		margin-bottom: 90px;
		@include mobile {
			font: normal normal 700 28px/34px 'Barlow Condensed';
		}
	}
	&__box {
		width: 55%;
		max-width: 980px;
		min-width: 800px;
		margin: auto;
		padding: 80px 40px 80px 40px;
		margin-bottom: 80px;
		height: fit-content;
		@include mobile {
			width: 100%;
			max-width: 100%;
			min-width: 100%;
			margin-left: 0%;
			padding: 60px 30px;
		}
		h4 {
			text-align: center;
			font: normal normal 700 28px/34px 'Barlow';
			letter-spacing: 0px;
			margin-bottom: 25px;
			color: $secondary-color;
			@include mobile {
				text-align: left;
				font: normal normal 700 24px/32px 'Barlow';
			}
		}
		&__desc {
			padding-left: 10px;
			padding-right: 10px;
			text-align: center;
			font: normal normal 500 18px/33px 'Barlow';
			letter-spacing: 0px;
			margin-bottom: 40px;
			@include mobile {
				padding-left: 0;
				padding-right: 0;
				text-align: left;
				font: normal normal 500 18px/28px 'Barlow';
			}
		}
		&__prices {
			background: #D0D0D01A 0% 0% no-repeat padding-box;
			border-radius: 15px;
			padding: 20px;
			width: 90%;
			margin: auto;
			margin-bottom: 70px;
			@include mobile {
				width: 100%;
			}
			p {
				text-align: center;
				font: normal normal 500 18px/33px 'Barlow';
				letter-spacing: 0px;
				color: $primary-color;
				@include mobile {
					margin-bottom: 30px;
				}
			}
		}
		&__date {
			text-align: center;
			font: normal normal 700 28px/34px 'Barlow Condensed';
			letter-spacing: 0px;
			color: $secondary-color;
			@include mobile {
				font: normal normal 700 24px/33px 'Barlow Condensed';
			}
		}
		&__border {
			position: absolute;
			&--left {
				width: 80px;
				left: -80px;
				top: -50px;
				height: calc(100% + 100px);
				z-index: 2;
			}
			&--top {
				left: -90px;
				top: -40px;
				width: calc(100% + 180px);
				@include mobile {
					left: -60%;
					top: -60px;
					width: 220%;
					img {
						transform: scale(1.2);
					}
				}
			}
			&--right {
				width: 80px;
				right: -80px;
				top: -50px;
				height: calc(100% + 100px);
			}
			&--bottom {
				left: -90px;
				bottom: -40px;
				width: calc(100% + 180px);
				@include mobile {
					left: -50%;
					bottom: -60px;
					width: 200%;
					img {
						transform: scale(1.2);
					}
				}
			}
			img {
				max-height: 100%;
				max-width: 100%;
			}
		}
	}
	&__info {
		width: 50%;
		max-width: 980px;
		min-width: 800px;
		margin: auto;
		text-align: center;
		font: normal normal 700 20px/30px 'Barlow';
		letter-spacing: 0px;
		color: $primary-color;
		margin-bottom: 20px;
		@include mobile {
			width: 100%;
			max-width: 100%;
			min-width: 100%;
			text-align: center;
			font: normal normal 700 20px/30px 'Barlow';
		}
	}
}


.welcome-mobile-nav {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 55px;
	background: $white;
	z-index: 100;
	border-top: lightgrey 1px solid;
	&__link {
		text-align: center;
		width: 33%;
		cursor: pointer;
		button, a {
			margin: auto !important;
			padding-top: 6px !important;
			padding-bottom: 0px !important;
			height: auto !important;
		}
		p {
			text-align: center;
			font: normal normal 500 14px/17px 'Barlow Condensed';
			letter-spacing: 0px;
		}
		svg {
			margin: auto;
			height: 18px;
			width: 18px;
		}
		&:hover {
			color: $primary-color;
		}
	}
}


.side-mobile {
	position: fixed;
	bottom: 100vh;
	width: 100vw;
	height: 100vh;
	background: $white;
	z-index: 101;
	left: 0;
	transition: bottom 0.6s;
	padding-top: max(25vh, 120px);
	overflow: auto;
	padding-bottom: 20px;
	&__links {
		margin-bottom: 40px;
		li {
			padding: 10px 2px;
			border-bottom: lightgrey solid 1px;
			transition: all 0.2s;
			&:hover {
				background: $primary-color;
				color: $white;
				padding-left: 9px;
			}
			a {
				display: inline-block;
				width: 100%;
				height: 100%;
				font: normal normal 400 16px/19px 'Barlow Condensed';
				letter-spacing: 0.32px;
			}
		}
	}
}