.creations-navbar {
	display: none;
	z-index: 9;
	&__container {
		height: 40px;
		width: 100%;
		background-color: $primary-color;
		color: white;
	}
	&__menu {
		//display: none;
		//box-shadow: lightgrey 0 50px 50px;
		box-shadow: 0px 12px 20px #2A294433;
		max-height: 0px;
		overflow: hidden;
		transition: max-height 0.4s;
		background: white;
		&__list {
			display: none;
		}
		&__lists {
			//Alignment on top header titles, with logo 55px wide + 4vw padding
			padding: 25px calc(55px + 4vw) 35px calc(55px + 4vw);
			height: 100%;
			font-family: 'Barlow Condensed';
			font-weight: 500;
			min-width: 200px;
			h4 {
				color: $primary-color;
				font-size: 1.1rem;
				padding-bottom: 5px;
				margin-right: 5vw;
			}
			ul {
				height: 100%;
				flex-wrap: wrap;
				margin-right: 15px;
				li {
					width: 14vw;
					min-width: 100px;
				}
				a {
					color: $dark-text;
					transition: $transition-base;
					&:hover {
						color: $primary-color;
					}
				}
			}
		}
	}
	&__nav {
		height: 100%;
		padding-left: calc(55px + 9%);//100px;
		&__toggle, &__toggle-link {
			padding: 7px 20px 7px 20px;
			font-weight: 500;
			font-family: 'Barlow Condensed';
			cursor: pointer;
			transition: $transition-base;
			svg {
				height: 26px;
				margin-left: 15px;
			}
			&:hover {
				background-color: $text-bg-color;
				color: white;
			}
			&--active {
				background-color: $text-bg-color;
				color: white;
			}
		}
	}
}

.header-group {
	position: fixed;
	top: 50px;
	z-index: 10;
	width: 100vw;
	border-bottom: solid 1px $light-grey;
	background-color: white;
	max-height: 150px;
}

.header-group-simplified {
	position: fixed;
	top: 0px;
	z-index: 10;
	width: 100vw;
	border-bottom: solid 1px $light-grey;
	background-color: white;
	height: 150px;
}

.header {
	z-index: 10;
	background-color: white;
	&__home-title {
		color: $primary-color;
		font: normal normal 600 24px/29px 'Barlow Condensed';
		letter-spacing: 0px;
		padding-right: .8rem;
	}
	&__logo-container {
		position: relative;
		display: block;
		min-width: 55px;
		background-color: $primary-color;
	}
	&__logo {
		position: absolute;
		z-index: 10;
		width: 55px;
		left: 0;
		top: 0;
		&--desktop {
			@include desktop {
				display: block;
			}
			@include tablet {
				display: block;
			}
			@include mobile {
				display: none;
			}
		}
		&--scroll {
			height: 60%;
			top: 20%;
			left: 5px;
			@include desktop {
				display: none;
			}
			@include tablet {
				display: none;
			}
			@include mobile {
				display: none;
			}
		}
		&--mobile {
			@include desktop {
				display: none;
			}
			@include tablet {
				display: none;
			}
			@include mobile {
				display: block;
			}
		}
	}
	&__main-menu {
		padding-top: 0px;
		&__icons {
			button {
				height: 50px;
				width: 50px;
				cursor: pointer;
			}
			&__btn {
				padding: 10px;
				height: 50px;
				width: 50px;
				cursor: pointer;
				display: block;
				img {
					max-height: 100%;
					max-width: 100%;
				}
				&:hover {
					fill: $primary-color;
				}
				&__cart-counter {
					position: absolute;
					bottom: 0;
					right: 0;
					width: 22px;
					height: 22px;
					border-radius: 50%;
					background-color: $primary-color;
					color: $white;
					font-size: 0.85rem;
					text-align: center;
					font-weight: 500;
				}
			}
			&__lang-btn {
				background-color: $primary-color-light;// lighten($primary-color, 50);
				color: $dark-text;
				text-transform: uppercase;
				border-radius: 5px;
				text-align: center;
				font: normal normal 500 20px/24px 'Barlow Condensed';
				letter-spacing: 0px;
				transition: all 0.2s ease-in-out;
				&:hover {
					background-color: $primary-color;
					color: white;
				}
			}
			li {
				padding-left: 1.1rem;
			}
		}
	}
	&__main-nav {
		&__btn {
			display: flex;
			justify-content: space-between;
			flex-wrap: nowrap;
			width: 190px;
			height: 50px;
			color: $dark-text;
			font-size: 1.05rem;
			font-weight: 500;
			padding: .6rem 1rem;
			cursor: pointer;
			background-color: $primary-color-light;
			font-family: 'Barlow Condensed';
			border-radius: 5px;
			transition: $transition-base;
			&--active {
				color: white;
				background-color: $primary-color;
				.header__main-nav__btn--logo-1 {
					transform: rotate(90deg);
				}
			}
			&--logo-1 {
				height: 18px;
				width: 18px;
				margin-right: 1.875rem;
				transform: rotate(0deg);
				transition: all 0.2s;
				margin-top: 5px;
			}
			&--logo-2 {
				height: 15px;
				width: 20px;
				margin-left: 1.875rem;
				margin-top: 6px;
			}
			&:hover {
				color: white;
				background-color: $primary-color;
				.header__main-nav__btn--logo-1 {
					transform: rotate(90deg);
				}
			}
		}
		&__link {
			position: relative;
			display: block;
			padding-top: 12px;
			height: 70px;
			text-transform: uppercase;
			margin-left: 35px;
			// margin-bottom: 30px;
			text-align: center;
			font: normal normal 600 18px/22px 'Barlow Condensed';
			letter-spacing: 0.36px;
			transition: color 0.3s ease-in-out;
			&::before {
				background-color: $primary-color;
				color: $primary-color;
				content: "";
				height: 2px;
				left: 50%;
				width: 0;
				position: absolute;
				bottom: -1px;
				//transform: translateX(-50%);
				transition: all 0.3s ease-in-out;
			}
			&:hover {
				color: $primary-color;
				&::before {
					left: 0%;
					//transform: translateX(0%);
					width: 100%;
				}
			}
		}
	}
	&__menus-container {
		padding-left: 4vw;
		padding-top: 20px;
		width: 100%;
	}
	&__newsletter-btn {
		//position: relative;
        //z-index: 5;
        padding: 0 1.1rem;
        font-family: 'Barlow Condensed';
        position: relative;
        font-size: 1.05rem;
        &__link {
            display: inline-block;
            text-decoration: none;
            color: $primary-color;
            padding: 5px 1rem;
            position: relative;
            top: -1px;
            left: 0;
            z-index: 10;
            transition: $transition-village;
        }

        &::before {
            content: '';
            position: absolute;
            top: 6px;
            bottom: 0;
            right: 0;
            min-width: .5rem;
            max-height: 1.4375rem;
            background-color: $primary-color;
            z-index: 0;
            border-radius: .5rem;
            transition: $transition-village;
        }

        &:focus,
        &:hover {
            cursor: pointer;

            .header__newsletter-btn__link {
                color: white;
            }

            &::before {
                min-width: 100%;
            }
        }
	}
	&__top-menu {
		padding-top: 7px;
		padding-bottom: 16px;
		overflow: hidden;
		// transition: height 0.5s;
	}
	&__top-nav {
		&__links {
			color: #CFCFCF;
			li {
                padding-top: 5px;
				a {
					color: $dark-text;
					padding: 0.5rem;
					font: normal normal normal 18px/22px Barlow Condensed;
					letter-spacing: 0.36px;
					transition: color 0.3s ease-in-out;
					&:hover {
						color: $primary-color;
					}
				}
			}
			li:nth-child(odd) {
				padding-right: .4rem;
                padding-left: .4rem;
			}
			li:nth-child(even) {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
}


.header-simplified {
	z-index: 10;
	background-color: white;
	height: 100%;
	&__backlink {
		a {
			text-align: left;
			font: normal normal 600 26px/31px 'Barlow Condensed';
			letter-spacing: 0px;
		}
	}
	&__arrow-left {
		padding-top: 4px;
		margin-top: 4px;
		margin-right: 10px;
	}
	&__logo-container {
		position: relative;
		display: block;
		min-width: 55px;
		background-color: transparent;
	}
	&__logo {
		position: absolute;
		z-index: 10;
		height: 175px;
		left: 0;
		top: 0;
		&--desktop {
			@include desktop {
				display: block;
			}
			@include tablet {
				display: block;
			}
			@include mobile {
				display: none;
			}
		}
		&--scroll {
			height: 60%;
			top: 20%;
			left: 5px;
			@include desktop {
				display: none;
			}
			@include tablet {
				display: none;
			}
			@include mobile {
				display: none;
			}
		}
		&--mobile {
			@include desktop {
				display: none;
			}
			@include tablet {
				display: none;
			}
			@include mobile {
				display: block;
			}
		}
	}
	&__main-menu {
		padding-top: 0px;
		&__icons {
			padding-top: 2px;
			button {
				height: 50px;
				width: 50px;
				cursor: pointer;
			}
			&__lang-btn {
				background-color: $primary-color-light;// lighten($primary-color, 50);
				color: $dark-text;
				text-transform: uppercase;
				border-radius: 5px;
				text-align: center;
				font: normal normal 500 20px/24px 'Barlow Condensed';
				letter-spacing: 0px;
				transition: all 0.2s ease-in-out;
				&:hover {
					background-color: $primary-color;
					color: white;
				}
			}
			&__info {
				text-align: left;
				font: normal normal 700 20px/24px 'Barlow';
				letter-spacing: 0px;
			}
			li {
				padding-left: 1.1rem;
			}
		}
	}
	&__menus-container {
		padding-left: 4vw;
		width: 100%;
	}
}